@media only screen and (min-width: 600px) {
    .game {
      display: flex;
      background-color: #e8eb5a;
    }
    .main {
      min-height: 100vh;
      padding: 0 5vw;
    }
    .square {
        min-height: 12vw;
        min-width: 12vw;
    }
    .status {
      margin: 29vh 5vw 17vh;
    }
    .winner {
      margin: 29vh 5vw 17vh;
    }
}

@media only screen and (max-width: 599px) {
    .game {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e8eb5a
    }
    .main {
        min-height: 48vh;
        padding: 0 10vw;
    }
    .square {
        min-height: 12vh;
        min-width: 12vh;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 207, 142);
}

.row {
    display: flex;
    margin-top: 2vh;
}

.square {
    font-size: 6vw;
    margin: 0 0.4vw;
    background-color: #44345e;
    color: rgb(255, 125, 4);
    border: 4px solid #4c924c;
    border-radius: 7px;
    text-align: center;
}

.square:focus {
    outline: none;
    background-color: #5f4a80;
    box-shadow: 2px 4px 6px rgb(255, 102, 0);
}

.info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-size: 1.6rem;
    color:#44345e;
    text-align: center;
    padding: 3vh 0;  
    border: 2px solid #4c924c;  
    border-radius: 7px; 
    width: 40vw;
    text-align: center
}

.winner {
    font-size: 1.8rem;
    color: rgb(255, 125, 4);
    background-color: #44345e;
    text-align: center;
    padding: 3vh 2vw;  
    border: 2px solid #4c924c;  
    border-radius: 7px; 
    min-width: 40vw;
    text-align: center
}

.restart {
    font-size: 1.8em;
    color: rgb(255, 125, 4);
    background-color: #44345e;
    padding: 3vh 2vw;  
    border: 2px solid #4c924c;  
    border-radius: 7px; 
    min-width: 40vw;
    min-height: 10vh; 
    margin: 0 5vw;
    text-align: center
}

.restart:hover {
    outline: none;
    background-color: #5f4a80;
    box-shadow: 2px 4px 6px rgb(255, 102, 0);
}

.restart:active {
    outline: none;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }